body { 
    background-color: lightgray;
    box-decoration-break: 0px;
    box-shadow: 0px;
}

h1{
    text-align: center;
    text-rendering: auto;
    font-family: comic sans ms;
    font-size: 40px;
    
}   

a:link, a:visited {
    display: inline-block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    width: 200px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-color: darkgrey;
}

a:hover, a:active {
    background-color: #006400;
}